In [7]:
# 2 feb assignment data science course
#Q1 for loop is used when we know number of iterations of loop in advance
 
for i in range(1,5):
    print(i)
    
# while loop is used when we donot exactly know about number of iterations of loop in advance
a=10
while (a>5):
    print(a)
    a=a-1

1
2
3
4
10
9
8
7
6

In [7]:
# Q2 sum and product of number using while  and for loop
sum=0
j=1
while(j<=10):
    sum=sum+ j
    j=j+1
print("the sum using while loop  is",sum)

#using for loop
sum1=0
for a in range(1,11):
     sum1= sum1 +a
    
print("the sum using for loop is",sum1)

# product of number using while  and for loop
pro=1
j=1
while(j<=10):
    pro=pro *j
    j=j+1
print("the product of first 10 natural number using while loop is",pro)
pro1=1
for a in range(1,11):
    pro1=pro1*a
print("the product using for loop is",pro1)

the sum using while loop  is 55
the sum using for loop is 55
the product of first 10 natural number using while loop is 3628800
the product using for loop is 3628800

In [15]:
""" q3 The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit."""
bill =0
reading= int(input(" enter meter reading"))
if(reading >300):
    bill = 20*(reading -300) + 10*100+ 6*100 + 4.5*100
elif (reading>200) :
    bill = 10*(reading -200) + 6*100 + 4.5*100
elif (reading>100) :
    bill = 6*(reading -100)  + 4.5*100
else :
    bill = 4.5 * reading

print("the bill is ",bill)

 enter meter reading 310

the bill is  2250.0

In [4]:
"""Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list."""
list=[]
cube =[]
for i in range(1,101):
    list.append(i)
for i in range(len(list)):
    if (list[i])%4==0 or  (list[i])%5 ==0:
        cube.append(list[i])
for i in range(len(cube)):
    print(cube[i])

4
5
8
10
12
15
16
20
24
25
28
30
32
35
36
40
44
45
48
50
52
55
56
60
64
65
68
70
72
75
76
80
84
85
88
90
92
95
96
100

In [13]:
"""Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"""
string = "I want to become a data scientist"
count =0
list=['a','e','i','o','u','s','A','E','I','O','U','S']
for i in string:
    if i in list:
        count=count +1
print("no of vowels are",count)

no of vowels are 14